@charset "UTF-8";
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #00A2B9;
  color: #fff;
  -webkit-box-shadow: 5px 2.5px 2px rgba(0, 0, 0, 0.07), 8px 6px 4.7px rgba(0, 0, 0, 0.05), 0px 11.3px 8.9px rgba(0, 0, 0, 0.042), 0px 20.1px 15.9px rgba(0, 0, 0, 0.035), 0px 37.6px 29.7px rgba(0, 0, 0, 0.028), 0px 90px 71px rgba(0, 0, 0, 0.02);
          box-shadow: 5px 2.5px 2px rgba(0, 0, 0, 0.07), 8px 6px 4.7px rgba(0, 0, 0, 0.05), 0px 11.3px 8.9px rgba(0, 0, 0, 0.042), 0px 20.1px 15.9px rgba(0, 0, 0, 0.035), 0px 37.6px 29.7px rgba(0, 0, 0, 0.028), 0px 90px 71px rgba(0, 0, 0, 0.02);
  z-index: 2;
}

header h1 {
  width: 30%;
  text-align: end;
}

header h1 img {
  width: 160px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul li {
  margin: 3%;
  position: relative;
}

header ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  right: 0;
  left: 0;
  margin: auto;
}

header ul li:hover::after {
  width: 100%;
}

header .fa-bars {
  display: none;
}

.toggle-menu {
  display: none;
}

.bars-menu {
  display: none;
}

.footer-menu {
  display: none;
}

@media all and (max-width: 935px) {
  header {
    height: 45px;
    padding: 0 25px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header h1 {
    display: none;
  }
  header ul {
    display: none;
  }
  header .fa-bars {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .bars-menu {
    display: none;
    width: 100%;
    height: 90%;
    position: fixed;
    background-color: #00A2B9;
    z-index: 10;
  }
  .bars-menu i {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 1.8rem;
    margin: 20px 25px;
    cursor: pointer;
  }
  .bars-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    height: 50%;
    position: absolute;
    top: 15%;
  }
  .bars-menu ul li {
    color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.552);
    padding: 30px 0;
    font-weight: 700;
  }
  .footer-menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #00A2B9;
  }
  .footer-menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 30px;
  }
  .footer-menu ul li {
    text-align: center;
    color: #fff;
    font-weight: 600;
  }
}

.toggle-menu:checked ~ .bars-menu {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.first-wrap {
  display: block;
  height: 100vh;
  width: 100%;
}

.first-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #00A2B9;
  z-index: -1;
  background-image: url(../img/青空蔚來img/img/首頁底圖.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
}

.first-page .first-page-title {
  position: relative;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.first-page .first-page-title .wrap-img {
  background-color: #00A2B9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-page .first-page-title .wrap-img .img1 {
  margin-right: 20%;
  width: 30%;
  height: 200px;
}

.first-page .first-page-title .wrap-img .img2 {
  width: 70%;
  height: 350px;
}

.first-page .first-page-title p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 60px 100px;
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
}

.first-page .first-page-title .cloud {
  display: none;
}

.first-page .first-page-title .bird_img {
  display: none;
}

.first-page .first-page-title .cloud-bg {
  display: none;
}

.side-menu {
  position: fixed;
  z-index: 500;
  right: 0;
  top: 15%;
}

.side-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 30vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.side-menu ul li {
  width: 50px;
  height: 65px;
  margin: 3px 0;
  color: #fff;
  font-weight: 500;
  border-radius: 15px;
  text-align: center;
  line-height: 2.6rem;
  font-size: 1.5rem;
  padding: 5px 0px;
  background-color: #00A2B9;
  -webkit-box-shadow: 1.6px 1.3px 2.2px rgba(0, 0, 0, 0.02), 3.9px 3.2px 5.3px rgba(0, 0, 0, 0.028), 7.3px 6px 10px rgba(0, 0, 0, 0.035), 13px 10.7px 17.9px rgba(0, 0, 0, 0.042), 24.2px 20.1px 33.4px rgba(0, 0, 0, 0.05), 58px 48px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 1.6px 1.3px 2.2px rgba(0, 0, 0, 0.02), 3.9px 3.2px 5.3px rgba(0, 0, 0, 0.028), 7.3px 6px 10px rgba(0, 0, 0, 0.035), 13px 10.7px 17.9px rgba(0, 0, 0, 0.042), 24.2px 20.1px 33.4px rgba(0, 0, 0, 0.05), 58px 48px 80px rgba(0, 0, 0, 0.07);
}

.side-menu ul li:nth-child(even) {
  background-color: #2fc0cf;
}

.toTop {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 100px 50px;
  background-color: #60656af3;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  padding-top: 10px;
  border-radius: 10px;
  z-index: 5;
}

@media all and (max-width: 935px) {
  .side-menu {
    display: none;
  }
  .first-page {
    height: calc(100vh - 45px);
    background-image: none;
  }
  .first-page .first-page-title {
    width: 100%;
  }
  .first-page .first-page-title .wrap-img {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  .first-page .first-page-title .wrap-img .img1 {
    width: 45%;
    margin-right: 0;
  }
  .first-page .first-page-title .wrap-img .img2 {
    width: 80%;
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  .first-page .first-page-title p {
    margin: 5%;
    font-size: 1.1rem;
  }
  .first-page .first-page-title .cloud {
    display: block;
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
    z-index: -20;
  }
  .first-page .first-page-title .bird-box {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: block;
    position: absolute;
    left: 25%;
    bottom: 200px;
    width: 35%;
  }
  .first-page .first-page-title .bird_img {
    display: block;
    position: absolute;
    left: 25%;
    bottom: 100px;
    width: 80%;
    -webkit-animation-name: updown;
            animation-name: updown;
    -webkit-animation-duration: 4.5s;
            animation-duration: 4.5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .first-page .first-page-title .cloud-bg {
    display: block;
    width: 80%;
    opacity: 0.7;
    position: absolute;
    bottom: 150px;
    z-index: -20;
    -webkit-animation-name: left;
            animation-name: left;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}

.second-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.second-wrap .second-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/second-page.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}

.third-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -10;
  border-top: 5px solid #00A2B9;
  border-bottom: 5px solid #00A2B9;
}

.third-wrap .third-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  padding-left: 125px;
}

.third-wrap img {
  width: 50%;
  height: 85%;
}

.third-wrap .third-textbox {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.third-wrap .third-textbox .land {
  width: 40%;
}

.third-wrap .third-textbox h3 {
  margin: 30px 0;
  font-size: 3rem;
  font-weight: 900;
  color: #595757;
  position: relative;
}

.third-wrap .third-textbox h3 img {
  position: absolute;
  top: -120px;
  right: -150px;
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.third-wrap .third-textbox p {
  color: #595757;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
}

.forth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forth-wrap .forth-page {
  height: 100vh;
  width: 80%;
  position: absolute;
  bottom: 0;
  background-image: url(https://ws.srl.tw/cs/2022032516281868/img/img2022032812405454.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}

.forth-wrap .forth-page p {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50px, -30px);
          transform: translate(50px, -30px);
  font-size: 0.9rem;
  color: #2c2b2b;
  font-weight: 700;
}

.fifth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fifth-wrap .fifth-page {
  height: 100vh;
  width: 80%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/fifth-page.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}

.fifth-wrap .fifth-page p {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50px, -30px);
          transform: translate(50px, -30px);
  font-size: 0.9rem;
  color: #595757;
  font-weight: 700;
}

.sixth-wrap {
  width: 100%;
  height: 100vh;
}

.sixth-wrap .sixth-page {
  width: 100%;
  padding: 40px 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  height: 100%;
  border-top: 5px solid #00A2B9;
  border-bottom: 5px solid #00A2B9;
}

.sixth-wrap .sixth-page .sixth-carousel {
  width: 60%;
  position: relative;
}

.sixth-wrap .sixth-page .sixth-carousel .carousel-caption {
  position: absolute;
  right: -60%;
  bottom: 5px;
  margin: 0;
  padding: 0;
  height: 1.2rem;
  font-size: 0.8rem;
}

.sixth-wrap .sixth-page .sixth-page-box {
  width: 40%;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox img {
  width: 40%;
  padding: 20px 0;
}

.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 {
  position: relative;
  padding: 20px 0;
  color: #595757;
  font-weight: 700;
  font-size: 2.5rem;
}

.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 img {
  position: absolute;
  width: 50%;
  top: -250px;
  right: 0px;
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox p {
  color: #595757;
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.seventh-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.seventh-wrap .seventh-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/seventh-page.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}

.eighth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.eighth-wrap .eighth-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}

.eighth-wrap .eighth-page-left {
  width: 40%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #595757;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.eighth-wrap .eighth-page-left img {
  width: 50%;
  margin: 20px 0;
}

.eighth-wrap .eighth-page-left h2 {
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: 900;
}

.eighth-wrap .eighth-page-left p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 20px;
}

.eighth-wrap .eighth-page-right {
  width: 70%;
}

.eighth-wrap .eighth-page-right .eighth-carousel {
  width: 100%;
  position: relative;
}

.eighth-wrap .eighth-page-right .eighth-carousel .carousel-caption {
  position: absolute;
  right: -60%;
  bottom: 5px;
  margin: 0;
  padding: 0;
  height: 1.2rem;
  font-size: 0.8rem;
}

.eighth-wrap .eighth-page-right .eighth-carousel .carousel-caption p {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ccc;
  right: 41.5%;
  bottom: -20px;
}

.p2-page {
  display: none;
}

@media all and (max-width: 935px) {
  .second-wrap {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .second-wrap .second-page {
    height: 100%;
    width: 100%;
    background-image: url(../img/青空蔚來img/img/third-page.jpg);
    background-repeat: repeat;
    background-size: 20% 20%;
    z-index: -10;
    padding: 70px 100px;
  }
  .second-wrap .second-page .p2-page {
    display: block;
  }
  .second-wrap .second-page .p2-page .future {
    width: 50%;
    margin-bottom: 50px;
  }
  .second-wrap .second-page .p2-page h2 {
    margin-bottom: 50px;
    color: #595757;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .second-wrap .second-page .p2-page p {
    color: #595757;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 50px;
  }
  .second-wrap .second-page .p2-page .p2-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    border-radius: 20px;
  }
  .second-wrap .second-page .p2-page .p2-grid img {
    width: 100%;
  }
  .second-wrap .second-page .p2-page .p2-grid .grid1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .second-wrap .second-page .p2-page .p2-grid .grid2 {
    width: 100%;
  }
  .second-wrap .second-page .p2-page .p2-grid .grid3 {
    width: 100%;
  }
}

.nineth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.nineth-wrap .nineth-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/9bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}

.nineth-wrap .nineth-page .nineth-page-textbox {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
}

.nineth-wrap .nineth-page .nineth-page-textbox img {
  margin-bottom: 20px;
}

.nineth-wrap .nineth-page .nineth-page-textbox h3 {
  margin: 20px 0;
  letter-spacing: 1.2rem;
}

.nineth-wrap .nineth-page .nineth-page-textbox h2 {
  margin-top: 90px;
  font-size: 2.5rem;
  letter-spacing: 1.2rem;
}

.nineth-wrap .nineth-page .nineth-page-textbox p {
  margin-top: 50px;
  font-size: 1.8rem;
  border: 2px solid #fff;
  border-radius: 35px;
  padding: 5px 25px;
}

.nineth-wrap .nineth-page .bird9 {
  position: absolute;
  right: 15%;
  top: 20%;
  width: 15%;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes float {
  0% {
    right: 15%;
    top: 20%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    right: 20%;
    top: 25%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    right: 15%;
    top: 25%;
  }
  75% {
    right: 20%;
    top: 25%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    right: 15%;
    top: 20%;
  }
}

@keyframes float {
  0% {
    right: 15%;
    top: 20%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    right: 20%;
    top: 25%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    right: 15%;
    top: 25%;
  }
  75% {
    right: 20%;
    top: 25%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    right: 15%;
    top: 20%;
  }
}

.tenth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}

.tenth-wrap .tenth-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tenth-wrap .tenth-page ul {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: 80%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  color: #fff;
  font-weight: 700;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  row-gap: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.tenth-wrap .tenth-page ul li {
  width: 100%;
  font-size: 2rem;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tenth-wrap .tenth-page ul li:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.tenth-wrap .tenth-page li:nth-child(odd) {
  background-color: #00a2b9;
}

.tenth-wrap .tenth-page li:nth-child(even) {
  background-color: #2fc0cf;
}

.tenth-wrap .tenth-page i {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.eleventh-wrap {
  position: relative;
  height: 80vh;
  width: 100%;
}

.eleventh-wrap .eleventh-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}

.eleventh-wrap .eleventh-page iframe {
  width: 100%;
  height: 80vh;
}

.gps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-danger {
  margin: 30px 0;
  font-size: 2rem;
  border-radius: 50px;
  padding: 8px 130px;
  background-color: #c1291f;
}

.btn-danger i {
  margin-right: 15px;
}

.form-wrap {
  position: relative;
  height: 1200px;
  width: 100%;
  padding: 50px 0;
  background-color: #00A2B9;
}

.form-wrap .form-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #00A2B9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.form-wrap .form-page .form-page-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
  font-weight: 700;
}

.form-wrap .form-page .form-page-textbox h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  padding: 20px;
  border-bottom: 10px solid #dbdcdc;
}

.form-wrap .form-page .form-page-textbox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
}

.form-wrap .form-page .form-page-textbox form p {
  margin-bottom: -1px;
}

.form-wrap .form-page .form-page-textbox form input[type="text"] {
  width: 100%;
  border: none;
  margin-bottom: 15px;
  padding: 3px 10px;
}

.form-wrap .form-page .submit {
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: #a9a7a7;
  font-size: 1.4rem;
  margin: 30px 0 50px;
  width: 80%;
  margin: auto;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

textarea {
  border: none;
  margin-bottom: 15px;
  padding: 0 10px;
}

.service-center-mail {
  font-size: 1.7rem;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #4b4b4b;
  color: #fff;
}

#footer span {
  color: #838181;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
