.second-wrap{
    position: relative;
    height: 100vh;
    width: 100%;
    .second-page{
        height: 100vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: url(../img/青空蔚來img/img/second-page.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
       z-index: -10;
    }
}
.third-wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -10;
    border-top: 5px solid #00A2B9;
    border-bottom: 5px solid #00A2B9;
    .third-page{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        background-image: url(../img/青空蔚來img/img/third-page.jpg);
        background-repeat: repeat;
        background-size: 20% 20%;
        padding-left: 125px;
    }
    img{
        width: 50%;
        height: 85%;
      
    }
    .third-textbox{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        transform: translateX(150px);
        .land{
            width: 40%;
        }
        h3{
            margin: 30px 0;
            
            font-weight: 900;
            color: rgb(89,87,87);
            position: relative;
            img{
                position: absolute;
                top: -120px;
                right: -150px;
                animation-name: updown;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }
        p{
            color:rgb(89,87,87) ;
        
            letter-spacing: 0.4rem;
        }
    }

}
.forth-wrap{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    .forth-page{
        height: 100%;
        width: 80%;
        position: absolute;
        bottom: 0;
        background-image: url(https://ws.srl.tw/cs/2022032516281868/img/img2022032812405454.webp);
        background-repeat: no-repeat;
        background-size: 100% 100%;
       z-index: -10;
       p{
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50px,-30px);
        
        color: rgb(44, 43, 43);
        font-weight: 700;
       }
    }
}
.fifth-wrap{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    .fifth-page{
        height: 100%;
        width: 80%;
        position: absolute;
        bottom: 0;
        background-image: url(../img/青空蔚來img/img/fifth-page.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: -10;
       p{
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50px,-30px);
        
        color: rgb(89,87,87);
        font-weight: 700;
       }
    }
}
.sixth-wrap{
    width: 100%;
    height: 100vh;
    
    .sixth-page{
        width: 100%;
        padding: 40px 8%;
        display: flex;
        align-items: center;
        background-image: url(../img/青空蔚來img/img/third-page.jpg);
        background-repeat: repeat;
        background-size: 20% 20%;
        height:100%;
        border-top: 5px solid #00A2B9;
        border-bottom: 5px solid #00A2B9;
        .sixth-carousel{
            width: 60%;
            position: relative;
           
            .carousel-caption{
                position: absolute;
                right: -60%;
                bottom: 5px;
                margin: 0;
                padding: 0;
                height: 1.2rem;
                font-size: 0.8rem;
            }
        }
        .sixth-page-box{
            width: 40%;
            transform: translateX(20%);
            .sixth-page-textbox{
                
                img{
                    width: 40%;
                    padding: 20px 0;
                }
                h2{
                    position: relative;
                    padding: 20px 0;
                    color: rgb(89,87,87);
                    font-weight: 700;
                 
                    img{
                        position: absolute;
                        width: 50%;
                        top: -250px;
                        right: 0px;
                        animation-name: updown;
                        animation-duration: 3s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }
                }
                p{
                    color: rgb(89,87,87);
                    line-height: 2.2rem;
                    
                    font-weight: 500;
                }
            }
           
        }
    }
}
@keyframes updown{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.seventh-wrap{
    position: relative;
    height: 100vh;
    width: 100%;
    .seventh-page{
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: url(../img/青空蔚來img/img/seventh-page.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: -10;
    }
}

.eighth-wrap{
    position: relative;
    height: calc(100vh );
    width: 100%;
    .eighth-page{
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: url(../img/青空蔚來img/img/third-page.jpg);
        background-repeat: repeat;
        background-size: 20% 20%;
        z-index: -10;
        display: flex;
        justify-content: space-around;
        padding: 5% 0;
        &-left{
            width: 30%;
            display: flex;
            flex-direction: column;
            color: rgb(89,87,87);
   
            img{
                width: 50%;
                margin: 20px 0;
            }
            h2{
                margin: 20px 0;
               
                font-weight: 900;
            }
            p{
 
                font-weight: 500;
                line-height: 2rem;
            
            }
        }
        &-right{
            width: 50%;
           
            .eighth-carousel{
                width: 100%;
                height: 100%;
                position: relative;
               
                .carousel-caption{
                    position: absolute;
                    right: -60%;
                    bottom: 5px;
                    margin: 0;
                    padding: 0;
                    height: 1.2rem;
                    font-size: 0.8rem;
                    p{  
                        position: absolute;
                        width: fit-content;
                        background-color: #ccc;
                        right: 41.5%;
                        bottom: -20px;
                    }
                }
        }
    }
    }
}
.p2-page{
    display: none;
}
@media all and (max-width:935px){

    .second-wrap{
        position: relative;
        height: 1780px;
        width: 100%;
        .second-page{
            height: 101%;
            width: 100%;
            background-image: url(../img/青空蔚來img/img/third-page.jpg);
            background-repeat: repeat;
            background-size: 20% 20%;
            z-index: -10;
            padding: 70px 50px;
            .p2-page{
                display: block;
                .future{
                    width: 50%;
                    margin-bottom: 50px;
                }
                h2{
                    margin-bottom: 50px;
                    ;
                    color: rgb(89,87,87);
                    font-weight: 700;
                   
                }
                p{
                    color: rgb(56, 56, 56);

                    font-weight: 500;
                    line-height: 2rem;
                    margin-bottom: 30px;
                }
                .p2-grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 0.5fr 0.5fr;
                    row-gap: 15px;
                    column-gap: 15px;
                    border-radius: 20px;
                    img{
                        width: 100%;
                       
                    }
                    .grid1{
                        grid-column: 1/3;
                        
                    }
                    .grid2{
                        width: 100%;
                      
                    }
                    .grid3{
                        width: 100%;
                        
                    }
                }
                .map{
                    width: 100%;
                }
            }
            
        }
    }
    .third-wrap{
        position: relative;
        width: 100%;
        height: 900px;
        z-index: -10;
        border-top: 5px solid #00A2B9;
        border-bottom: 5px solid #00A2B9;
        .third-page{
            flex-direction: column;
            padding: 0;
        }
        img{
            width: 100%;
            height: 50%;
            margin-bottom: 60px;
        }
        .third-textbox{
            display: flex;
            justify-content: center;
            transform: translateX(0);
            width: 100%;
            padding: 0 60px;
            .land{
                width: 70%;
            }
            h3{
                margin: 30px 0;
                
                font-weight: 900;
                color: rgb(89,87,87);
                position: relative;
                img{
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: -100px;
                    right: -230px;
                    animation-name: updown;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
            p{
                color:rgb(89,87,87) ;
                
                letter-spacing: 0.4rem;
            }
        }
    
    }
    .forth-wrap{
        height: 800px;
    }
    .fifth-wrap{
        height: 500px;
        .fifth-page{
  
           p{
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(20px,0);
          
            color: rgb(89,87,87);
            font-weight: 700;
           }
        }
    }
    .sixth-wrap{
        width: 100%;
        height: 1100px;
        
        .sixth-page{
            flex-direction: column;
            align-items:flex-start;
            width: 100%;
            padding:0;
            .sixth-carousel{
                width: 100%;
            }
            .sixth-page-box{
                width: 100%;
                height: 20%;
                transform: translateX(0);
                padding: 10px 60px;
                .sixth-page-textbox{
                    border-bottom: 5px solid #00A2B9;
                    img{
                        width: 65%;
                   
                    }
                    h2{
                        position: relative;
                        padding: 20px 0;
                        color: rgb(89,87,87);
                        font-weight: 700;
                        
                        img{
                            position: absolute;
                            width: 30%;
                            top: -40%;
                            left: 60%;
                            z-index: -20;
                            animation-name: updown;
                            animation-duration: 3s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }
                    }
                    p{
                        color: rgb(89,87,87);
                        line-height: 2.2rem;
                        
                        font-weight: 500;
                    }
                }
               
            }
        }
    }
    .seventh-wrap{
        height: 600px;
    }
    .eighth-wrap{
        
        .eighth-page{

            display: flex;
            flex-direction: column;
            padding: 0;
            &-left{
                width: 100%;
                margin: 30px 60px;
                border-bottom:5px solid  #00A2B9;
                display: flex;
                flex-direction: column;
                color: rgb(89,87,87);
                justify-content: center;

            }
            &-right{
                width: 100%;
                order: -1;
                .eighth-carousel{
                    width: 100%;
                    
                    position: relative;
            }
        }
        }
    }
    @media all and (max-width:420px){
        .second-wrap{
            height: 1000px;
            .second-page{
                .p2-page{
                    display: block;
                    .future{
                        width: 80%;
                        margin-bottom: 20px;
                    }
                    h2{
                        margin-bottom: 20px;
                       
                    }
                    p{
                       
                        font-weight: 600;
                        line-height: 2rem;
                        margin-bottom: 30px;
                        letter-spacing: 0.1rem;
                    }
                    .p2-grid{
                        transform: scaleY(1.2);
                    }
                    .map{
                        margin-top: 20px;
                    }
                }
                
            }
        }

        .third-wrap{
            position: relative;
            height: 900px;
    
            img{
                width: 100%;
                height: 50%;
                margin-bottom: 60px;
            }
            .third-textbox{
                width: 100%;
                padding: 0 60px;
    
                .land{
                    width: 80%;
                   
                }
                h3{
                    margin-bottom:30px;
                  
                    font-weight: 900;
    
                    img{
                        width: 70%;
                         height: 140%;
                        right:-120px;
                    }
                }
                p{
                    color:rgb(89,87,87) ;
                    
                    letter-spacing: 0.4rem;
                }
            }
        
        }
        .forth-wrap{
            height: 475px;
            .forth-page{
               p{
                transform: translate(30px,-10px);
               }
            }
        }
        .fifth-wrap{
            height: 375px;
            padding: 50px;
            .fifth-page{
                    width: 80%;
                    height: 80%;
                    transform: translateY(-20%);
                p{
                    transform: translate(30px,30px);
                }
            }
        }
    
        .sixth-wrap{
            height: 750px;  
            .sixth-page{
    
                .sixth-carousel{
                    width: 100%;
                }
                .sixth-page-box{
                    width: 100%;
                    height: 100%;
                    transform: translateX(0);
                    padding: 10px 60px;
                    .sixth-page-textbox{
                       
                        img{
                            width: 90%;
                        }
                        h2{
                            
                            position: relative;
                            img{
                                position: absolute;
                                width: 45%;
                                top: -20%;
                                left: 75%;
                            }
                        }
                        p{
                            color: rgb(89,87,87);
                            line-height: 2.2rem;
                           
                            font-weight: 500;
                        }
                    }
                   
                }
            }
        }
        .seventh-wrap{
            height: 375px;
        }
        .eighth-wrap{
            height: 750px;
            .eighth-page{
                &-left{
                    width: 100%;
                    margin: 10px 0;
                    padding: 0 60px;
                    border-bottom:5px solid  #00A2B9;
                    display: flex;
                    flex-direction: column;
                    color: rgb(89,87,87);
                    justify-content: center;
                    img{
                        width: 70%;
                    }

        
                }
            }
            }
    }
    
}