@import "first-page";
@import "footer&contact";
@import "main-page";
@import "form";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
}
html,body{
    position: relative;
    width: 100%;
    height: 100vh;
}

h5{
    font-size: 1vw;
    color: rgb(229,240,246);
    font-weight: 300;
    line-height: 88px;
    cursor: pointer;
    letter-spacing: 0.2vw;
}
h2{
    color: #fff;
    font-size: 2.2vw;
    letter-spacing: 0.2vw;
}
h1{
    font-size: 5vw;
    color: #fff;
}
p{
    color: #fff;
    font-size: 1.1vw;
    line-height: 1.8vw;
    letter-spacing: 0.2vw;
    font-weight: 300;
}
h3{
    color: #fff;
    font-size: 1.6vw;
    line-height: 3vw;
    letter-spacing: 0.2vw;
}
span{
    position: absolute;
    right: 2vw;
    bottom:25px;
    color: #fff;
    font-size: 0.8vw;
}
input:focus{
    outline: none;

}
@media all and (max-width:480px){
    p{
        
        font-size: 4vw;
        line-height: 4.7vw;
    }
    span{
        position: absolute;
      
  
        color: #fff;
        font-size: 0.8vw;
    }
    h3{
        font-weight: 300;
        font-size: 4.5vw;
        margin: 6.5vw 0;
    }
}