@charset "UTF-8";
.first-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../元件/1x/s1_bg-100.jpg);
  background-position: center bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.first-page-top {
  width: 100%;
  height: 80vh;
}
.first-page-top-word {
  width: 65%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20%;
}
.first-page-top-word img:nth-child(2) {
  margin-top: 25px;
}
.first-page-bottom {
  position: relative;
  width: 100%;
  height: 20vh;
}
.first-page-bottom img {
  width: 28%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.second-page {
  width: 100%;
  height: 100vh;
  position: relative;
}
.second-page-top {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow-x: hidden;
}
.second-page-top-num {
  position: absolute;
  top: 60vw;
  left: 9vw;
}
.second-page-top-num .num-3 {
  width: 19vw;
}
.second-page-top-num .num-0 {
  width: 20vw;
  margin-bottom: 13vw;
}
.second-page-top-text {
  position: absolute;
  top: 100vw;
  left: 35vw;
  width: 62vw;
}
.second-page-top-text img {
  width: 100%;
}
.second-page-top p {
  position: absolute;
  top: 150vw;
  left: 10vw;
  width: auto;
}
.second-page-img img {
  width: 100%;
}

.third-page {
  width: 100%;
  height: 100vh;
}
.third-page-top {
  width: 100%;
  position: absolute;
}
.third-page-top-text {
  position: absolute;
  right: 10vw;
  top: 0;
  z-index: 1;
}
.third-page-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.third-page-img .num-27 {
  width: 45vw;
  position: absolute;
  top: 45vw;
  left: 2vw;
}
.third-page-img-text {
  width: 60%;
  position: absolute;
  top: 70vw;
  left: 37vw;
}
.third-page-img .bg {
  width: 100%;
}

.forth-page {
  width: 100%;
  height: 100vh;
  position: relative;
}
.forth-page-top {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
}
.forth-page-top-num {
  position: absolute;
  top: 65vw;
  width: 100%;
  left: 15vw;
  height: 20vh;
}
.forth-page-top-num .num-1 {
  width: 16%;
}
.forth-page-top-num .num-0 {
  width: 20%;
}
.forth-page-top-text {
  position: absolute;
  top: 100vw;
  left: 30vw;
  width: 67vw;
}
.forth-page-top-text img {
  width: 100%;
}
.forth-page-top p {
  position: absolute;
  top: 150vw;
  left: 10vw;
}
.forth-page-img img {
  width: 100%;
}

.fifth-page {
  width: 100%;
  height: 100vh;
  position: relative;
}
.fifth-page-top {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.fifth-page-top h2 {
  position: absolute;
  left: 15%;
  top: 0;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  white-space: nowrap;
}
.fifth-page-top h2 span {
  display: inline-block;
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
  font-size: 24vw;
  font-weight: 500;
  transform: translateY(5vw);
}
.fifth-page-top-text {
  position: absolute;
  right: 3vw;
  top: 120vw;
}
.fifth-page-img img {
  width: 100%;
}

.sixth-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../元件/1x/s1_bg-100.jpg);
  background-position: center bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sixth-page-top {
  width: 100%;
  height: 80vh;
}
.sixth-page-top-word {
  width: 65%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15%;
}
.sixth-page-top-word img:not(first-child) {
  margin-top: 25px;
}
.sixth-page-top-word img:nth-child(2) {
  width: 125%;
  transform: translateX(-10%);
}
.sixth-page-bottom {
  position: relative;
  width: 100%;
  height: 20vh;
}
.sixth-page-bottom img {
  width: 28%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

@media all and (max-width: 380px) {
  .second-page-top-num {
    top: 65vw;
    left: 25vw;
  }
  .second-page-top-num .num-3 {
    width: 20%;
    left: 20vw;
    bottom: 5vw;
  }
  .second-page-top-num .num-0 {
    width: 20%;
    margin-bottom: 8vw;
    margin-left: 1vw;
  }
  .second-page-top-text {
    width: 60%;
    top: 93vw;
    left: 40vw;
  }
  .second-page-top p {
    top: 130vw;
  }
  .second-page-img {
    width: 100%;
    position: relative;
    z-index: -2;
  }
  .second-page-img img {
    width: 85%;
    position: absolute;
    right: 0;
    top: 8vw;
  }
  .forth-page-top-num {
    top: 65vw;
    left: 28vw;
  }
  .forth-page-top-num .num-1 {
    width: 14%;
    left: 23.5vw;
    bottom: 18vw;
  }
  .forth-page-top-num .num-0 {
    width: 16%;
    margin-bottom: 2vw;
  }
  .forth-page-top-text {
    width: 60%;
    top: 93vw;
    left: 40vw;
  }
  .forth-page-img {
    width: 100%;
    position: relative;
    z-index: -2;
  }
  .forth-page-img img {
    width: 85%;
    position: absolute;
    right: 0;
    top: 8vw;
  }
  .forth-page p {
    bottom: 15vw;
  }
  .fifth-page-top-text {
    bottom: 33vw;
    right: 3vw;
  }
  .sixth-page-top-word {
    top: 10%;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 7.5vw;
  color: rgb(178, 130, 71);
}

p {
  line-height: 6.5vw;
  font-size: 3.8vw;
  letter-spacing: 0.7vw;
  font-weight: 400;
  color: rgb(178, 130, 71);
}