@charset "UTF-8";
header {
  display: flex;
  width: 100vw;
  position: fixed;
  align-items: center;
  height: 80px;
  background-color: #00A2B9;
  color: #fff;
  box-shadow: 5px 2.5px 2px rgba(0, 0, 0, 0.07), 8px 6px 4.7px rgba(0, 0, 0, 0.05), 0px 11.3px 8.9px rgba(0, 0, 0, 0.042), 0px 20.1px 15.9px rgba(0, 0, 0, 0.035), 0px 37.6px 29.7px rgba(0, 0, 0, 0.028), 0px 90px 71px rgba(0, 0, 0, 0.02);
  z-index: 2;
}
header h1 {
  width: 30%;
  text-align: end;
}
header h1 img {
  width: 160px;
}
header ul {
  display: flex;
  align-items: center;
  width: 70%;
  text-align: center;
  justify-content: center;
}
header ul li {
  margin: 3%;
  position: relative;
}
header ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transition: 0.5s;
  right: 0;
  left: 0;
  margin: auto;
}
header ul li:hover::after {
  width: 100%;
}
header .fa-bars {
  display: none;
}

.toggle-menu {
  display: none;
}

.bars-menu {
  display: none;
  width: 100vw;
}

.footer-menu {
  display: none;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@media all and (max-width: 935px) {
  header {
    height: 45px;
    padding: 0 25px;
    box-shadow: none;
  }
  header h1 {
    display: none;
  }
  header ul {
    display: none;
  }
  header .fa-bars {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .bars-menu {
    display: none;
    width: 100vw;
    height: 90vh;
    position: fixed;
    background-color: #00A2B9;
    z-index: 10;
  }
  .bars-menu i {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 1.8rem;
    margin: 20px 25px;
    cursor: pointer;
  }
  .bars-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 50%;
    position: absolute;
    top: 15%;
  }
  .bars-menu ul li {
    color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.552);
    padding: 30px 0;
    font-weight: 700;
  }
  .footer-menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: #00A2B9;
    z-index: 100;
  }
  .footer-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
  }
  .footer-menu ul li {
    text-align: center;
    color: #fff;
    font-weight: 600;
  }
  .toggle-menu:checked ~ .bars-menu {
    display: block;
    transition: all 0.5s;
    opacity: 1;
  }
}
.first-wrap {
  display: block;
  height: 100vh;
  width: 100%;
  position: relative;
}

.first-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #00A2B9;
  z-index: -1;
  background-image: url(../img/青空蔚來img/img/首頁底圖.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100% 100%;
}
.first-page .first-page-title {
  position: relative;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.first-page .first-page-title .wrap-img {
  background-color: #00A2B9;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
  flex-direction: column;
}
.first-page .first-page-title .wrap-img .img1 {
  margin-right: 20%;
  width: 30%;
  height: 200px;
}
.first-page .first-page-title .wrap-img .img2 {
  width: 70%;
  height: 350px;
}
.first-page .first-page-title p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 60px 100px;
  font-weight: 700;
  color: #fff;
}
.first-page .first-page-title .cloud {
  display: none;
}
.first-page .first-page-title .bird_img {
  display: none;
}
.first-page .first-page-title .cloud-bg {
  display: none;
}

.side-menu {
  position: fixed;
  z-index: 500;
  right: 0;
  top: 15%;
}
.side-menu ul {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 30vh;
  transform: translateX(-50%);
}
.side-menu ul li {
  width: 50px;
  height: 65px;
  margin: 3px 0;
  color: #fff;
  font-weight: 500;
  border-radius: 15px;
  text-align: center;
  line-height: 2.6rem;
  font-size: 1.5rem;
  padding: 5px 0px;
  background-color: #00A2B9;
  box-shadow: 1.6px 1.3px 2.2px rgba(0, 0, 0, 0.02), 3.9px 3.2px 5.3px rgba(0, 0, 0, 0.028), 7.3px 6px 10px rgba(0, 0, 0, 0.035), 13px 10.7px 17.9px rgba(0, 0, 0, 0.042), 24.2px 20.1px 33.4px rgba(0, 0, 0, 0.05), 58px 48px 80px rgba(0, 0, 0, 0.07);
}
.side-menu ul li:nth-child(even) {
  background-color: rgb(47, 192, 207);
}

.toTop {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 100px 50px;
  background-color: rgba(96, 101, 106, 0.9529411765);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  padding-top: 10px;
  border-radius: 10px;
  z-index: 5;
}

@media all and (max-width: 935px) {
  .side-menu {
    display: none;
  }
  .first-page {
    height: calc(100vh - 45px);
    background-image: none;
  }
  .first-page .first-page-title {
    width: 100%;
  }
  .first-page .first-page-title .wrap-img {
    width: 70%;
    display: flex;
    align-items: center;
    transform: translateY(-20%);
  }
  .first-page .first-page-title .wrap-img .img1 {
    width: 45%;
    margin-right: 0;
  }
  .first-page .first-page-title .wrap-img .img2 {
    width: 80%;
    transform: translateY(-8%);
  }
  .first-page .first-page-title p {
    margin: 5%;
  }
  .first-page .first-page-title .cloud {
    display: block;
    position: absolute;
    width: 80%;
    bottom: 30px;
    left: 0;
    z-index: -20;
  }
  .first-page .first-page-title .bird-box {
    transform: rotateY(180deg);
    display: block;
    position: absolute;
    left: 25%;
    bottom: 140px;
    width: 35%;
  }
  .first-page .first-page-title .bird_img {
    display: block;
    position: absolute;
    left: 25%;
    bottom: 100px;
    width: 80%;
    -webkit-animation-name: updown;
            animation-name: updown;
    -webkit-animation-duration: 4.5s;
            animation-duration: 4.5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .first-page .first-page-title .cloud-bg {
    display: block;
    width: 80%;
    opacity: 0.7;
    position: absolute;
    bottom: 150px;
    z-index: -20;
    -webkit-animation-name: left;
            animation-name: left;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
@media all and (max-width: 935px) and (max-width: 420px) {
  .first-page .first-page-title .wrap-img {
    width: 85%;
    transform: translateY(-8%);
  }
  .first-page .first-page-title .wrap-img .img1 {
    width: 65%;
    height: 120px;
  }
  .first-page .first-page-title .wrap-img .img2 {
    width: 80%;
    transform: translateY(-28%);
  }
  .first-page .first-page-title p {
    margin: 0 3%;
  }
  .first-page .first-page-title .cloud {
    width: 90%;
  }
  .first-page .first-page-title .bird-box {
    bottom: 50px;
    width: 65%;
  }
  .first-page .first-page-title .bird_img {
    width: 100%;
  }
  .first-page .first-page-title .cloud-bg {
    width: 70%;
  }
}
.second-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}
.second-wrap .second-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/second-page.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}

.third-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -10;
  border-top: 5px solid #00A2B9;
  border-bottom: 5px solid #00A2B9;
}
.third-wrap .third-page {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  padding-left: 125px;
}
.third-wrap img {
  width: 50%;
  height: 85%;
}
.third-wrap .third-textbox {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  transform: translateX(150px);
}
.third-wrap .third-textbox .land {
  width: 40%;
}
.third-wrap .third-textbox h3 {
  margin: 30px 0;
  font-weight: 900;
  color: rgb(89, 87, 87);
  position: relative;
}
.third-wrap .third-textbox p {
  color: rgb(89, 87, 87);
}
.third-wrap .third-textbox .bird3 {
  position: absolute;
  top: -120px;
  width: 30%;
  height: 50%;
  right: 100px;
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.forth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.forth-wrap .forth-page {
  height: 100%;
  width: 80%;
  position: absolute;
  bottom: 0;
  background-image: url(https://ws.srl.tw/cs/2022032516281868/img/img2022032812405454.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}
.forth-wrap .forth-page p {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50px, -30px);
  color: rgb(44, 43, 43);
  font-weight: 700;
}

.fifth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.fifth-wrap .fifth-page {
  height: 100%;
  width: 80%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/fifth-page.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}
.fifth-wrap .fifth-page p {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50px, -30px);
  color: rgb(89, 87, 87);
  font-weight: 700;
}

.sixth-wrap {
  width: 100%;
  height: 100vh;
}
.sixth-wrap .sixth-page {
  width: 100%;
  padding: 40px 8%;
  display: flex;
  align-items: center;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  height: 100%;
  border-top: 5px solid #00A2B9;
  border-bottom: 5px solid #00A2B9;
}
.sixth-wrap .sixth-page .sixth-carousel {
  width: 60%;
  position: relative;
}
.sixth-wrap .sixth-page .sixth-carousel .carousel-caption {
  position: absolute;
  right: -60%;
  bottom: 5px;
  margin: 0;
  padding: 0;
  height: 1.2rem;
  font-size: 0.8rem;
}
.sixth-wrap .sixth-page .sixth-page-box {
  width: 40%;
  transform: translateX(20%);
}
.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox img {
  width: 40%;
  padding: 20px 0;
}
.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 {
  position: relative;
  padding: 20px 0;
  color: rgb(89, 87, 87);
  font-weight: 700;
}
.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 img {
  position: absolute;
  width: 50%;
  top: -250px;
  right: 0px;
  -webkit-animation-name: updown;
          animation-name: updown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox p {
  color: rgb(89, 87, 87);
  line-height: 2.2rem;
  font-weight: 500;
}

@-webkit-keyframes updown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.seventh-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}
.seventh-wrap .seventh-page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/seventh-page.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}

.eighth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}
.eighth-wrap .eighth-page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  z-index: -10;
  display: flex;
  justify-content: space-around;
  padding: 5% 0;
}
.eighth-wrap .eighth-page-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  color: rgb(89, 87, 87);
}
.eighth-wrap .eighth-page-left img {
  width: 50%;
  margin: 20px 0;
}
.eighth-wrap .eighth-page-left h2 {
  margin: 20px 0;
  font-weight: 900;
}
.eighth-wrap .eighth-page-left p {
  font-weight: 500;
  line-height: 2rem;
}
.eighth-wrap .eighth-page-right {
  width: 50%;
}
.eighth-wrap .eighth-page-right .eighth-carousel {
  width: 100%;
  height: 100%;
  position: relative;
}
.eighth-wrap .eighth-page-right .eighth-carousel .carousel-caption {
  position: absolute;
  right: -60%;
  bottom: 5px;
  margin: 0;
  padding: 0;
  height: 1.2rem;
  font-size: 0.8rem;
}
.eighth-wrap .eighth-page-right .eighth-carousel .carousel-caption p {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ccc;
  right: 41.5%;
  bottom: -20px;
}

.p2-page {
  display: none;
}

@media all and (max-width: 935px) {
  .second-wrap {
    position: relative;
    height: 1780px;
    width: 100%;
  }
  .second-wrap .second-page {
    height: 101%;
    width: 100%;
    background-image: url(../img/青空蔚來img/img/third-page.jpg);
    background-repeat: repeat;
    background-size: 20% 20%;
    z-index: -10;
    padding: 70px 50px;
  }
  .second-wrap .second-page .p2-page {
    display: block;
  }
  .second-wrap .second-page .p2-page .future {
    width: 50%;
    margin-bottom: 50px;
  }
  .second-wrap .second-page .p2-page h2 {
    margin-bottom: 50px;
    color: rgb(89, 87, 87);
    font-weight: 700;
  }
  .second-wrap .second-page .p2-page p {
    color: rgb(56, 56, 56);
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 30px;
  }
  .second-wrap .second-page .p2-page .p2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    row-gap: 15px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    border-radius: 20px;
  }
  .second-wrap .second-page .p2-page .p2-grid img {
    width: 100%;
  }
  .second-wrap .second-page .p2-page .p2-grid .grid1 {
    grid-column: 1/3;
  }
  .second-wrap .second-page .p2-page .p2-grid .grid2 {
    width: 100%;
  }
  .second-wrap .second-page .p2-page .p2-grid .grid3 {
    width: 100%;
  }
  .second-wrap .second-page .p2-page .map {
    width: 100%;
    transform: translateX(-2%);
  }
  .third-wrap {
    position: relative;
    width: 100%;
    height: 800px;
    z-index: -10;
    border-top: 5px solid #00A2B9;
    border-bottom: 5px solid #00A2B9;
  }
  .third-wrap .third-page {
    flex-direction: column;
    padding: 0;
  }
  .third-wrap img {
    width: 100%;
    height: 50%;
  }
  .third-wrap .third-textbox {
    display: flex;
    justify-content: center;
    transform: translate(0, 60px);
    width: 100%;
    padding: 0 60px;
  }
  .third-wrap .third-textbox .land {
    width: 70%;
  }
  .third-wrap .third-textbox h3 {
    margin: 30px 0;
    font-weight: 900;
    color: rgb(89, 87, 87);
    position: relative;
  }
  .third-wrap .third-textbox p {
    color: rgb(89, 87, 87);
    letter-spacing: 0.4rem;
  }
  .third-wrap .third-textbox .bird3 {
    width: 30%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 45px;
    -webkit-animation-name: updown;
            animation-name: updown;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .forth-wrap {
    height: 800px;
  }
  .fifth-wrap {
    height: 500px;
  }
  .fifth-wrap .fifth-page p {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(20px, 0);
    color: rgb(89, 87, 87);
    font-weight: 700;
  }
  .sixth-wrap {
    width: 100%;
    height: 1100px;
  }
  .sixth-wrap .sixth-page {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }
  .sixth-wrap .sixth-page .sixth-carousel {
    width: 100%;
  }
  .sixth-wrap .sixth-page .sixth-page-box {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    padding: 60px 60px;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox {
    border-bottom: 5px solid #00A2B9;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox img {
    width: 65%;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 {
    position: relative;
    padding: 20px 0;
    color: rgb(89, 87, 87);
    font-weight: 700;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 img {
    position: absolute;
    width: 30%;
    top: -40%;
    left: 60%;
    z-index: -20;
    -webkit-animation-name: updown;
            animation-name: updown;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox p {
    color: rgb(89, 87, 87);
    line-height: 2.2rem;
    font-weight: 500;
  }
  .seventh-wrap {
    height: 600px;
  }
  .eighth-wrap {
    width: 100vw;
  }
  .eighth-wrap .eighth-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
  .eighth-wrap .eighth-page-left {
    width: 100vw;
    padding: 60px;
    border-bottom: 5px solid #00A2B9;
    display: flex;
    flex-direction: column;
    color: rgb(89, 87, 87);
    justify-content: center;
  }
  .eighth-wrap .eighth-page-right {
    width: 100%;
    order: -1;
  }
  .eighth-wrap .eighth-page-right .eighth-carousel {
    width: 100%;
    position: relative;
  }
}
@media all and (max-width: 935px) and (max-width: 420px) {
  .second-wrap {
    height: 1000px;
  }
  .second-wrap .second-page .p2-page {
    display: block;
  }
  .second-wrap .second-page .p2-page .future {
    width: 80%;
    margin-bottom: 20px;
  }
  .second-wrap .second-page .p2-page h2 {
    margin-bottom: 20px;
  }
  .second-wrap .second-page .p2-page p {
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 30px;
    letter-spacing: 0.1rem;
  }
  .second-wrap .second-page .p2-page .p2-grid {
    transform: scaleY(1.2);
  }
  .second-wrap .second-page .p2-page .map {
    margin-top: 20px;
  }
  .third-wrap {
    position: relative;
    height: 900px;
  }
  .third-wrap img {
    width: 100%;
    height: 50%;
    margin-bottom: 60px;
  }
  .third-wrap .third-textbox {
    width: 100%;
    padding: 0 60px;
    transform: translate(0);
  }
  .third-wrap .third-textbox .land {
    width: 80%;
  }
  .third-wrap .third-textbox h3 {
    margin-bottom: 30px;
    font-weight: 900;
  }
  .third-wrap .third-textbox p {
    color: rgb(89, 87, 87);
    letter-spacing: 0.4rem;
  }
  .third-wrap .third-textbox .bird3 {
    right: 20px;
    width: 20%;
    height: 30%;
  }
  .forth-wrap {
    height: 475px;
  }
  .forth-wrap .forth-page p {
    transform: translate(30px, -10px);
  }
  .fifth-wrap {
    height: 375px;
    padding: 50px;
  }
  .fifth-wrap .fifth-page {
    width: 80%;
    height: 80%;
    transform: translateY(-20%);
  }
  .fifth-wrap .fifth-page p {
    transform: translate(30px, 30px);
  }
  .sixth-wrap {
    height: 750px;
  }
  .sixth-wrap .sixth-page .sixth-carousel {
    width: 100%;
  }
  .sixth-wrap .sixth-page .sixth-page-box {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    padding: 10px 60px;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox img {
    width: 90%;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 {
    position: relative;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox h2 img {
    position: absolute;
    width: 45%;
    top: -20%;
    left: 75%;
  }
  .sixth-wrap .sixth-page .sixth-page-box .sixth-page-textbox p {
    color: rgb(89, 87, 87);
    line-height: 2.2rem;
    font-weight: 500;
  }
  .seventh-wrap {
    height: 375px;
  }
  .eighth-wrap {
    height: 750px;
  }
  .eighth-wrap .eighth-page-left {
    width: 100%;
    margin: 10px 0;
    padding: 0 60px;
    border-bottom: 5px solid #00A2B9;
    display: flex;
    flex-direction: column;
    color: rgb(89, 87, 87);
    justify-content: center;
  }
  .eighth-wrap .eighth-page-left img {
    width: 70%;
  }
}
.nineth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}
.nineth-wrap .nineth-page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/9bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -10;
}
.nineth-wrap .nineth-page .nineth-page-textbox {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.nineth-wrap .nineth-page .nineth-page-textbox img {
  margin-bottom: 20px;
}
.nineth-wrap .nineth-page .nineth-page-textbox h3 {
  margin: 20px 0;
  letter-spacing: 1.2rem;
}
.nineth-wrap .nineth-page .nineth-page-textbox h2 {
  margin-top: 90px;
  letter-spacing: 1.2rem;
}
.nineth-wrap .nineth-page .nineth-page-textbox p {
  margin-top: 50px;
  font-size: 1.8rem;
  border: 2px solid #fff;
  border-radius: 35px;
  padding: 5px 25px;
}
.nineth-wrap .nineth-page .bird9 {
  position: absolute;
  right: 15%;
  top: 20%;
  width: 15%;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes float {
  0% {
    right: 15%;
    top: 20%;
    transform: rotate(20deg);
  }
  25% {
    right: 20%;
    top: 25%;
    transform: scale(1.3);
    transform: rotate(-20deg);
  }
  50% {
    right: 15%;
    top: 25%;
  }
  75% {
    right: 20%;
    top: 25%;
    transform: scale(1.3);
  }
  100% {
    right: 15%;
    top: 20%;
  }
}

@keyframes float {
  0% {
    right: 15%;
    top: 20%;
    transform: rotate(20deg);
  }
  25% {
    right: 20%;
    top: 25%;
    transform: scale(1.3);
    transform: rotate(-20deg);
  }
  50% {
    right: 15%;
    top: 25%;
  }
  75% {
    right: 20%;
    top: 25%;
    transform: scale(1.3);
  }
  100% {
    right: 15%;
    top: 20%;
  }
}
.tenth-wrap {
  position: relative;
  height: 100vh;
  width: 100%;
}
.tenth-wrap .tenth-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url(../img/青空蔚來img/img/third-page.jpg);
  background-repeat: repeat;
  background-size: 20% 20%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tenth-wrap .tenth-page ul {
  display: grid;
  width: 60%;
  height: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color: #fff;
  font-weight: 700;
  transform: scale(0.8);
  row-gap: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.tenth-wrap .tenth-page ul li {
  width: 100%;
  font-size: 2rem;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tenth-wrap .tenth-page ul li:hover i {
  transform: scale(1.3);
}
.tenth-wrap .tenth-page li:nth-child(odd) {
  background-color: rgb(0, 162, 185);
}
.tenth-wrap .tenth-page li:nth-child(even) {
  background-color: rgb(47, 192, 207);
}
.tenth-wrap .tenth-page i {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

@media all and (max-width: 935px) {
  .nineth-wrap {
    height: 1100px;
  }
  .nineth-wrap .nineth-page .nineth-page-textbox h2 {
    margin-top: 90px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.6rem;
  }
  .nineth-wrap .nineth-page .nineth-page-textbox h3 {
    font-size: 1.1rem;
  }
  .nineth-wrap .nineth-page .bird9 {
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  .tenth-wrap {
    height: 600px;
  }
  .tenth-wrap .tenth-page {
    height: 100%;
    width: 100%;
    padding: 0;
    align-items: flex-start;
  }
  .tenth-wrap .tenth-page ul {
    width: 100%;
    height: 50%;
    transform: scale(1);
    margin: 80px 10px;
    padding: 0;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .tenth-wrap .tenth-page ul li {
    padding: 25px 0 0;
    border-radius: 35px;
  }
  .tenth-wrap .tenth-page ul li:hover i {
    transform: scale(1.3);
  }
  .tenth-wrap .tenth-page li:nth-child(odd) {
    background-color: rgb(0, 162, 185);
  }
  .tenth-wrap .tenth-page li:nth-child(even) {
    background-color: rgb(47, 192, 207);
  }
}
@media all and (max-width: 935px) and (max-width: 420px) {
  .nineth-wrap {
    height: 820px;
  }
  .nineth-wrap .nineth-page .nineth-page-textbox img {
    width: 70%;
  }
  .nineth-wrap .nineth-page .nineth-page-textbox h2 {
    margin-top: 90px;
    font-weight: 600;
    letter-spacing: 0.6rem;
  }
  .nineth-wrap .nineth-page .bird9 {
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: float-phone;
            animation-name: float-phone;
    top: 15%;
  }
}
.eleventh-wrap {
  position: relative;
  height: 80vh;
  width: 100%;
}
.eleventh-wrap .eleventh-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}
.eleventh-wrap .eleventh-page iframe {
  width: 100%;
  height: 80vh;
}

.gps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-danger {
  margin: 30px 0;
  font-size: 2rem;
  border-radius: 50px;
  padding: 8px 130px;
  background-color: rgb(193, 41, 31);
}
.btn-danger i {
  margin-right: 15px;
}

@media all and (max-width: 935px) {
  .eleventh-wrap {
    height: 60vh;
  }
}
.form-wrap {
  position: relative;
  height: 1300px;
  width: 100%;
  padding: 50px 0;
  background-color: #00A2B9;
}
.form-wrap .form-page {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #00A2B9;
  align-items: center;
  padding: 70px 0 200px;
}
.form-wrap .form-page .form-page-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  font-weight: 700;
}
.form-wrap .form-page .form-page-textbox h2 {
  font-weight: 700;
  color: #fff;
  padding: 20px;
  border-bottom: 10px solid rgb(219, 220, 220);
}
.form-wrap .form-page .form-page-textbox form {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
}
.form-wrap .form-page .form-page-textbox form p {
  margin-bottom: -1px;
}
.form-wrap .form-page .form-page-textbox form input[type=text] {
  width: 100%;
  border: none;
  margin-bottom: 15px;
  padding: 3px 10px;
}
.form-wrap .form-page .submit {
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: rgb(169, 167, 167);
  font-size: 1.4rem;
  margin: 30px 0 50px;
  width: 80%;
  margin: auto;
}

.check {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

textarea {
  border: none;
  margin-bottom: 15px;
  padding: 0 10px;
}

.service-center-mail {
  font-size: 1.7rem;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(75, 75, 75);
  color: #fff;
}
#footer span {
  color: rgb(131, 129, 129);
}

@media all and (max-width: 935px) {
  #footer {
    height: 90px;
    transform: translateY(-120px);
    font-size: 0.8rem;
  }
}
@media all and (max-width: 420px) {
  #footer {
    transform: translateY(-120px);
    font-size: 0.5rem;
    padding: 10px;
    height: 75px;
  }
  #footer p {
    font-size: 0.5rem;
  }
  #footer span {
    transform: translateY(-13px);
  }
  .form-wrap {
    height: 1200px;
  }
  .form-wrap .form-page {
    padding: 0;
  }
  .form-wrap .form-page .form-page-textbox {
    width: 100%;
  }
  .form-wrap .form-page .form-page-textbox form {
    width: 70%;
  }
  .form-wrap .form-page .form-page-textbox form .service-center-mail {
    font-size: 1.4rem;
    transform: translateY(-150px);
  }
  .submit {
    transform: translateY(-65px);
  }
  .gps button {
    transform: scale(0.8);
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h2, h3 {
  font-size: 2.5rem;
}

p {
  font-size: 17px;
}

html, body {
  min-width: 375px;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
}

@media all and (max-width: 935px) {
  h2, h3 {
    font-size: 2rem;
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
@keyframes left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
@-webkit-keyframes float-phone {
  0% {
    right: 15%;
    top: 15%;
    transform: rotate(20deg);
  }
  25% {
    right: 20%;
    top: 20%;
    transform: scale(1.3);
    transform: rotate(-20deg);
  }
  50% {
    right: 15%;
    top: 20%;
  }
  75% {
    right: 20%;
    top: 20%;
    transform: scale(1.3);
  }
  100% {
    right: 15%;
    top: 15%;
  }
}
@keyframes float-phone {
  0% {
    right: 15%;
    top: 15%;
    transform: rotate(20deg);
  }
  25% {
    right: 20%;
    top: 20%;
    transform: scale(1.3);
    transform: rotate(-20deg);
  }
  50% {
    right: 15%;
    top: 20%;
  }
  75% {
    right: 20%;
    top: 20%;
    transform: scale(1.3);
  }
  100% {
    right: 15%;
    top: 15%;
  }
}