@import "first-page";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    overflow-x: hidden;
}
p{
    font-size: 1.4vw;
    font-weight: 600;
}