.first-page{
    position: relative;
    width:100%;
    height: 100vh;
    background-image: url(../元件/1x/s1_bg-100.jpg);
    background-position:center bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &-top{
        width: 100%;
        height: 80vh;
        &-word{
            width: 65%;
            height: fit-content;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 20%;
            img:nth-child(2){
                margin-top: 25px;
            }
        }
    }
    &-bottom{
        position: relative;
        width: 100%;
        height: 20vh;
        img{
            width: 28%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
}
.second-page{
    width: 100%;
    height: 100vh;
 
    position: relative;
    &-top{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        overflow-x: hidden;
        &-num{
            position: absolute;
            top: 60vw;


            left: 9vw;
            .num-3{
                width: 19vw;
            }
            .num-0{
                width: 20vw;
                margin-bottom: 13vw;

            }
       
        }
        &-text{
            position: absolute;
            top:100vw;
            left: 35vw;
            width: 62vw;
            img{
                width: 100%;
            }    
        }
        p{
            position: absolute;
            top: 150vw;
            left: 10vw;
            width: auto;
      
        }
    }
    &-img{
      img{
        width: 100%;
      }
        
    }
   
}
.third-page{
    width: 100%;
    height: 100vh;
    background-image: url(../元件/1x/s3_bg-100.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:left bottom;
    &-top{
    width: 100%;
    height: 20vh;
    position: relative;

    &-text{
        position: absolute;
        right: 10vw;
        top: 40%;
        color: rgb(178,130,71);
    }
    }
    &-bottom{
    width: 100%;
    height: 80vh;
    z-index: 2;
    position: relative;
    .num-27{
        width: 45%;
        position: absolute;
        top: 30%;
        left: 2vw;
    }
    &-text{
        width: 60%;
        position: absolute;
        top: 45%;
        left: 37vw;
    }
    }
}
.forth-page{
    width: 100%;
    height: 100vh;
    position: relative;
    &-top{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow-x: hidden;
        &-num{
            position: absolute;
            top: 65vw;
            width: 100%;
            left: 15vw;
            height: 20vh;
            .num-1{
                width: 16%;
            }
            .num-0{

                width: 20%;
            
            }
       
        }
        &-text{
            position: absolute;
            top:100vw;
            left: 30vw;
            width: 67vw;
            img{
                width: 100%;
            }    
        }
        p{
            position: absolute;
            top: 150vw;
            left: 10vw;
        }
    }
    &-img{
      img{
        width: 100%;
      }
        
    }
   
}
.fifth-page{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../元件/1x/S5_bg-100.jpg);
    background-size: 100% 95%;
    background-repeat: no-repeat;
    &-top{
        width: 100%;
        height: 90vh;
        position: relative;
        h2{
            position: absolute;
            height: 100%;
            left: 15%;
            top: 0;
            writing-mode: vertical-lr;
            span{
            display: inline-block;
            writing-mode: horizontal-tb;
            font-size: 8rem;
            font-weight: 500;
            transform: translateY(25px);
            } 
        }
        &-text{
            position: absolute;
            right: 6%;
           bottom: 10%;
        }
    }
    &-bottom{
        width: 100%;
        position: relative;
        height: 20vh;
       
    }
}
.sixth-page{
    position: relative;
    width:100%;
    height: 100vh;
    background-image: url(../元件/1x/s1_bg-100.jpg);
    background-position:center bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &-top{
        width: 100%;
        height: 80vh;
        &-word{
            width: 65%;
            height: fit-content;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 20%;
            img:not(first-child){
                margin-top: 25px;
            }
            img:nth-child(2){
                width: 125%;
                transform: translateX(-10%);
            }
        }
    }
    &-bottom{
        position: relative;
        width: 100%;
        height: 20vh;
        img{
            width: 28%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
}
@media all and(max-width:380px){
    .second-page{
    &-top{
        &-num{
            top: 65vw;
            left: 25vw;
            .num-3{
                width: 20%;
                left: 20vw;
                bottom: 5vw;
            }
            .num-0{
                width: 20%;
                margin-bottom: 8vw;
                margin-left: 1vw;
            }
        }
        &-text{
            width: 60%;
            top: 93vw;
            left: 40vw;
        }
    }
    &-img{
        width: 100%;
        position: relative;
        z-index: -2;
        img{
            width: 85%;
            position: absolute;
            right: 0;
            top: 8vw;
        }
    }
    p{
        bottom: 15vw;
    }
    }
    .third-page{
        &-bottom{
            .num-27{
                top: 13%;
            }
            &-text{
                top: 32%;
            }
        }
    }
    .forth-page{
        &-top{
            &-num{
                top: 70vw;
                left: 4vw;
                .num-1{
                    width: 14%;
                    left: 23.5vw;
                    bottom: 18vw;
                }
                .num-0{
                    width: 16%;
                    bottom: 21vw;
                }
            }
            &-text{
                width: 60%;
                top: 93vw;
                left: 40vw;
            }
        }
        &-img{
            width: 100%;
            position: relative;
            z-index: -2;
            img{
                width: 85%;
                position: absolute;
                right: 0;
                top: 8vw;
            }
        }
        p{
            bottom: 15vw;
        }
        }
    .fifth-page{
        &-top{
            h2{
                font-size: 1.4rem;
                span{
                    font-size: 7rem;
                }
            }
        }
        &-bottom{
            &-text{
                top: 16%;
                right: 3%;
            }
        }
    }
}

