@import "header";
@import "main-page";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    

}
html,body{
    width: 100%;
    height: 100%;
}
h2{
    font-size: 7vw;
    color: rgb(178,130,71);
}
p{
    line-height: 6.5vw;
    font-size: 3.8vw;
    letter-spacing: 0.7vw;
    font-weight: 400;
    color: rgb(178,130,71);
}

